<link href="https://cdn.bootcss.com/froala-editor/2.6.5/css/froala_editor.pkgd.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/froala-editor/2.6.5/css/froala_style.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/froala-editor/2.6.5/js/froala_editor.pkgd.min.js"></script>
<script src="https://cdn.bootcss.com/froala-editor/2.6.5/js/languages/zh_cn.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $('textarea').froalaEditor({
  	language: 'zh_cn',
  	height: 300
  })
})
</script>